<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the Page -->
    <link rel="shortcut icon" href="~/Images/icon/streetsmartLogo.ico">
    <title>🆕 Change Password</title>

    <!-- CSS StyleSheets-->
    @Styles.Render("~/Content/Home-css")
</head>
<body>
    <div id="o-wrapper" class="o-wrapper">
        <main class="o-content">
            @Html.Partial("_ManageHeader")
            <div class="container">
                <h3 style="overflow:inherit">
                    🆕 Change Password
                </h3>
            </div>
            <section class="container">
                @model salesexpensetracker.Models.ChangePasswordViewModel
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #f5f5f5; border-color: #ddd;">
                            <div class="row">
                                <div class="col-md-12" align="right">
                                    <button class="btn btn-primary" type="submit">💾 Update</button>
                                    <button class="btn btn-danger" onclick="window.location.href='/Software/Index'">🗙 Close</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Current Password</label>
                                        <div class="col-sm-8">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control ", @placeholder = "Current Password..." })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">New Password</label>
                                        <div class="col-sm-8">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ", @placeholder = "New Password..." })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Confirm Password</label>
                                        <div class="col-sm-8">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", @placeholder = "Confirm Password" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    @ViewBag.StatusMessage
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
            @Html.Partial("_ManageFooter")
        </main>
    </div>
    <div id="c-mask" class="c-mask"></div>

    @Scripts.Render("~/Scripts/Home-js")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>